<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChildViewControllerManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F95F06F11F2200E500507712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F070A1F2200E500507712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F07151F2200E600507712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
